body {
    background: linear-gradient(90deg, #efd5ff 0%, #8767df 100%);
    background-position: center;
    text-align: center;
    display: grid;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 700;
}

header {
    padding-left: 500px;
    padding-right: 500px;
    box-sizing: border-box;
    z-index: 4; 
}

nav {
    background-color: #ffffff;
    border: 2px solid rgb(231, 226, 226);
    border-radius: 200px;
    overflow: hidden;
    z-index: 3;
    transform: translateY(30%);
    text-align: right;
}

header nav ul li a {
    text-decoration: none;
    color: #2e353a;
    font-size: 17px;
    transition: color 1s;
    text-align: left;
}

a:hover {
    color: #8767df;
    transition: color 1s;
}


li {
    display: inline-block;
    list-style: none;
    margin-left: 40px;
}

ul {
    margin-right: 50px;
    transform: translateY(10%);
}


.logo {
    float: left;
    position: absolute;
    top: 10%; /* Position it vertically in the middle */
    left: 40px; /* Adjust the left position as needed */
    transform: translateY(-0%); /* Center it perfectly */
    color: #2e353a;
    text-decoration: none;

}

.blobanimation {
    position: relative;
    bottom: 450px;
    left: 600px;
    z-index: 1;
}

.mainpic {
    position: relative;
    bottom: 2000px;
    left: 400px;
    z-index: 2;
}

.text {
    position: relative;
    left: 50px;
    margin-top: -2740px;
    text-align: left;
}

h1 {
    color: white;
    width: 700px;
    margin-left: 50px;
    font-weight: 700;
}

p {
    color: white;
    width: 740px;
    margin-left: 50px;
    font-size: 25px;
}



