body {
    background-color:#1c1d21;
    background-size: cover;
    background-position: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;   
}

ul {
    list-style-type: none;
    margin-right: 20px;
}

li {
    float: left;
}

a {
    display: block;
    padding: 25px;
    text-decoration: none;
    color: white;
    font-size: medium;
}
     
a:hover {
    color: #6461A0;
}

header {
    margin-left: 20px;
}




